/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
      box-sizing: border-box;
   }

*, *:before, *:after {
      box-sizing: inherit;
   }

.page-header {
    margin: 0;
    background-color: #f3f6f6;
    top: 0;
    position: fixed;
    width: 100%;
    height: 7%;
  }

.page-header img {
    width: 1%;
    position: fixed;
    left: 50%;
    padding-top: 1em;
  }

.page-header h4 {
    float: right;
    padding-right: 3em;
    font-family: "Apercu", Calibri, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #000;
    font-size: .9em;
  }

.page-header a {
    text-decoration: none;
  }

.page-header a:hover {
    color: blue;
  }

.intro {
    position: fixed;
    width: 100%;
    height: 7%;
}

.intro h1 {
    position: fixed;
    left: 44%;
    font-style: italic;
    font-size: 2.5em;
    padding-top: .7em;
    font-family: "Apercu", Calibri, sans-serif;
  }

  .intro p {
    float: right;
    position: relative;
    padding: .7em;
    margin-top: 4.5em;
    font-family: "Apercu", Calibri, sans-serif;
    font-weight: bold;
    font-size: .8em;
    background-color: #f5e3e7;
  }

.main-nav {
  position: absolute;
  left: 0;
  font-family: "Apercu", Calibri, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #000;
  font-size: .9em;
  padding-top: .7em;
  margin-top: 3em;
}

.main-nav ul {
     list-style: none;
   }

.main-nav li {
    float: left;
    text-decoration: none;
  }

.main-nav li a {
    display: block;
    border: none;
    padding: .5em;
    text-decoration: none;
    color: #000;
   }

.main-nav a:hover {
    font-weight: bold;
    color: #000;
   }

   .gift-glossier {
     padding-top: 10em;

   }

   .gift-glossier .logo {
     width: 7%;
     margin-top: 2em;
     margin-left: 8em;
     position: absolute;
   }

   .gift-glossier .main {
     position: relative;
     margin-left: 10em;
     z-index: -10;
   }

   .gift-glossier h4 {
     position: absolute;
     margin-left: 27em;
     margin-top: -7em;
     font-size: 2.5em;
     font-family: "Apercu", Calibri, sans-serif;
   }

   .gift-glossier p {
     position: absolute;
     margin-left: 68em;
     margin-top: -10em;
     font-family: "Apercu", Calibri, sans-serif;
   }

   .gift-glossier a{
    border: 1px solid #000;
    padding: 1em 1.5em 1em 1.5em;
    text-decoration: none;
    color: #000;
    position: absolute;
    margin-left: 101em;
    margin-top: -12em;
   }

   .gift-glossier a:hover {
     color: blue;
   }

   .info {
     width: 100%;
     background-color:  #f9f7f1;
   }

.info h4 {
  font-size: 3em;
  font-family: "Apercu", Calibri, sans-serif;
  text-align: center;
  padding: 1em;
}

.info p {
  font-family: "Apercu", Calibri, sans-serif;
  text-align: center;
  width: 60%;
  margin-left: 15em;
  margin-top: -7em;
  padding-top: 1em;
}

.info img {
  width: 10%;
  margin-left: 35em;
  padding-bottom: 3em;
}

.phase-1 .skincare {
  width: 60%;
  padding: 2em 4em 2em 2em;
  float: right;
}

.phase-1 h4 {
  font-family: "Apercu", Calibri, sans-serif;
  margin-left: 5.8em;
  padding-top: 1em;
  font-size: 1.2em;
  color: #000;
  font-style: italic;
}

.phase-1 a {
  text-decoration: none;
}

.phase-1 a:hover {
  color: blue;
}

.phase-1 h2 {
  font-family: "Freight Text Pro", Georgia, Times, Times New Roman, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  margin-left: 3.3em;
  margin-top: -1em;
}

.phase-1 p {
  font-family: "Apercu", Calibri, sans-serif;
  font-weight: lighter;
  font-size: .85em;
  text-align: left;
  margin-left: 8.5em;
  margin-top: -1em;
}

.phase-1 .inside {
  padding-top: 1em;
}

.phase-1 li {
  float: right;
  text-decoration: none;
  padding: 0;
  margin-left: .2em;
}

.phase-1 ul {
  list-style: none;
}

.phase-1 .thumbnails img {
  padding: .3em;
  padding-bottom: 1em;
}

.phase-1 .btn {
  background-color: #f5e3e7;
  border-color: #f5e3e7;
  padding: .5em 4em .5em 4em;
  color: #000;
  margin-left: 10.6em;
}

.phase-2 .makeup {
  width: 60%;
  padding: 2em 4em 2em 2em;
  float: left;
}

.phase-2 h4 {
  font-family: "Apercu", Calibri, sans-serif;
  float: right;
  margin-right: 16.8em;
  font-size: 1.2em;
  color: #000;
  font-style: italic;
}

.phase-2 a {
  text-decoration: none;
}

.phase-2 a:hover {
  color: blue;
}

.phase-2 h2 {
  font-family: "Freight Text Pro", Georgia, Times, Times New Roman, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  float: right;
  margin-right: 7.2em;
  margin-top:-1em;
}

.phase-2 p {
  font-family: "Apercu", Calibri, sans-serif;
  font-weight: lighter;
  font-size: .85em;
  text-align: left;
  margin-left: 38em;
}

.phase-2 li {
  float: right;
  padding: 0;
  margin-left: .2em;
}

.phase-2 .thumbnails {
  margin-right: 14em;
}

.phase-2 ul {
  list-style: none;
}

.phase-2 .thumbnails img {
  padding: .3em;
  padding-bottom: 1em;
}

.phase-2 .btn {
  background-color: #f5e3e7;
  border-color: #f5e3e7;
  padding: .5em 4em .5em 4em;
  color: #000;
  margin-right: 10.6em;
}

.why {
  background-color: #f5e3e7;
  margin-top: 10em;

}

.why h2 {
  font-size: 3em;
  font-family: "Apercu", Calibri, sans-serif;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.why p {
  font-family: "Apercu", Calibri, sans-serif;
  font-weight: 300;
  text-align: center;
  align-items: center;
  float: right;
  margin-right: 5em;
  margin-top: -1em;
}

.why .left, .middle, .right {
  width: 25%;
  padding: 1em;
}

.main-footer {
  clear: both;
  margin-top: 10em;
}

.insta {
  width: 100%;
}

.insta h1 {
  text-align: center;
  padding-top: 4em;
  font-size: 3em;
  font-family: "Apercu", Calibri, sans-serif;
  color: black;
}

.insta a {
  text-decoration: none;
}

.insta a:hover {
  color: blue;
}

.insta h2 {
  text-align: center;
  font-family: "Apercu", Calibri, sans-serif;
  font-size: 1em;
  margin-top: -1em;
}

.insta img {
  max-width: 100%;
}

.main-footer {
  width: 100%;
  border-top: .5px solid black;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 1em;
}

.footer li {
  float: left;
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer p {
  align-items: center;
  font-weight: bold;
  font-family: "Apercu", Calibri, sans-serif;
  padding: 1em;
  margin-left: 3em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
